## WAP To reverse the sting

In [1]:
string = "geeks quiz practice code"

stack = []
for i in string.split():
    stack.append(i)
    print(i)
empty_stack = []
while stack:
    empty_stack.append(stack.pop())
print(empty_stack)

geeks
quiz
practice
code
['code', 'practice', 'quiz', 'geeks']

In [3]:
def reversest(arr):
    arr=arr.split()
    left=0
    right =len(arr)-1
    
    while left < right:
        arr[left] , arr[right]=arr[right] , arr[left]
        left +=1
        right -=1
        
    reverse_sen= ' '.join(arr)
    return reverse_sen
string = "geeks quiz practice code"
a = reversest(string)
print(a)

code practice quiz geeks

In [4]:
def palindrome(arr):
    left = 0
    right =len(arr)-1
    
    while left  < right:
        if arr[left] != arr[right]:
            return False
        left +=1
        right -=1
    
    return True
        
arr='nitin'            
if palindrome(arr):
    print(f"{arr} is palindrome")
else:
    print('bhaag sa sale')
        
d = palindrome(arr)
print(d)

nitin is palindrome
True

In [1]:
a = 'nitin'
b = {}

for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

{'n': 2, 'i': 2, 't': 1}

In [9]:
a ='Verify Login functionality and Navigating to callhandling screen'
b = a.title()
print(b)

c = a[0].lower() + a[1:].upper()
print(c)
w="vERIFY LOGIN FUNCTIONALITY AND NAVIGATING TO CALLHANDLING SCREEN"

r=[]
for i in w.split():
    r.append(i[0].upper() +i[1:].lower())
print(' '.join(r))
m =w.title()
print(m)
print(w.capitalize())

Verify Login Functionality And Navigating To Callhandling Screen
vERIFY LOGIN FUNCTIONALITY AND NAVIGATING TO CALLHANDLING SCREEN
Verify Login Functionality And Navigating To Callhandling Screen
Verify Login Functionality And Navigating To Callhandling Screen
Verify login functionality and navigating to callhandling screen

In [10]:
##WAP Pallindrome
def isplaindrome(name):
    name = name.lower()
    left = 0
    right = len(name)-1
    
    while left <right:
        if name[left] != name[right]:
            print("not a aplindrome")
            return False
        left +=1
        right -=1
    print("is palindrome")
    return True
a = "rahul"
b = isplaindrome(a)
print(b)

not a aplindrome
False

In [13]:
num = int(input("enter number :"))

factorial = int(input("enter factorial :"))
if num < 0:
    print("factorial of o is 1")
elif num ==0:
    print("bhag sale")
else:
    for i in range(1 ,num+1):
        factorial = factorial *i
print(factorial)

enter number :5
enter factorial :7
840

In [14]:
t=a[0].upper()+a[1:].lower()
print(t)

Rahul

In [8]:
def is_palindrome(name):
    # Convert the input to lowercase for case-insensitive comparison
    name = name.lower()
    
    left = 0
    right = len(name) - 1
    
    while left < right:
        if name[left] != name[right]:  # Compare left and right characters
            print("Not a palindrome")
            return False
        left += 1
        right -= 1
    
    print("Palindrome")
    return True

# Test case
a = "Nitin"
b = is_palindrome(a)
print(b)

Palindrome
True

In [14]:
l=[]
for i in a.split():
    l.append(i[0].upper()+i[1:].lower())
print(" ".join(l))

Rahul

In [25]:
l=[]
for i in a.split():
    l.append(i[1].upper())
print("".join(l))

EOUNAOAC

In [15]:
word= 'hare krishna hare rama hare krishna hare rama hare krishna hare rama hare krishna hare rama'
stack = []

for i in word.split():
    stack.append(i)
print(stack)
    
word=[]

while stack:
    word.append(stack.pop())
word = " ".join(word)
print(word)

['hare', 'krishna', 'hare', 'rama', 'hare', 'krishna', 'hare', 'rama', 'hare', 'krishna', 'hare', 'rama', 'hare', 'krishna', 'hare', 'rama']
rama hare krishna hare rama hare krishna hare rama hare krishna hare rama hare krishna hare

In [1]:
def reverse_words(string):
	# split the string into a list of words
	words = string.split()

	# initialize an empty string to store the reversed words
	reversed_string = ''

	# loop through the words in reverse order and append them to the reversed string
	for i in range(len(words)-1, -1, -1):
		reversed_string += words[i] + ' '

	# remove the extra space at the end of the reversed string and return it
	return reversed_string.strip()

# example usage
string = "geeks quiz practice code"
reversed_string = reverse_words(string)
print(reversed_string) # output: "code practice quiz geeks"

code practice quiz geeks

In [4]:
strr=string.split()
word=[]
for i in range(len(strr)):
    word.append(strr[i][::-1])
print(word)

['skeeg', 'ziuq', 'ecitcarp', 'edoc']

In [6]:
list1=[2,3,4,5,6]
list2=[22,34,55,66,88]
for i ,j in zip(list1,list2):
    print(i,j)

2 22
3 34
4 55
5 66
6 88

In [8]:
list1=[2,3,4,5,6]
list2=[22,34,55,66,88]
r=[(i ,j) for i,j in  enumerate(list1 , start=22)]
print(r)

[(22, 2), (23, 3), (24, 4), (25, 5), (26, 6)]

In [7]:
def ArrayAdditionI(arr):
    # Find the largest number in the array
    max_num = max(arr)
    print(max_num)
    # Remove the largest number from the array
    arr.remove(max_num)
    print(arr)
    
    # Function to recursively check for subset sum
    def can_sum_to_target(nums, target):
        if target == 0:
            return True
        if not nums or target < 0:
            return False
        
        # Try including the last element in the subset
        include_last = can_sum_to_target(nums[:-1], target - nums[-1])
        
        # Try excluding the last element from the subset
        exclude_last = can_sum_to_target(nums[:-1], target)
        
        return include_last or exclude_last
    
    # Check if any subset of arr can sum up to max_num
    if can_sum_to_target(arr, max_num):
        return "true"
    else:
        return "false"

# Test the function
arr = [4, 6, 23, 10, 1, 3]
print(ArrayAdditionI(arr))  # Output: "true"

23
[4, 6, 10, 1, 3]
true

In [6]:
def ArrayAdditionI(arr):
    # Find the largest number in the array
    max_num = max(arr)
    
    # Remove the largest number from the array
    arr.remove(max_num)
    
    # Function to recursively check for subset sum
    def can_sum_to_target(nums, target):
        if target == 0:
            return True
        if not nums or target < 0:
            return False
        
        # Try including the last element in the subset
        include_last = can_sum_to_target(nums[:-1], target - nums[-1])
        
        # Try excluding the last element from the subset
        exclude_last = can_sum_to_target(nums[:-1], target)
        
        return include_last or exclude_last
    
    # Check if any subset of arr can sum up to max_num
    if can_sum_to_target(arr, max_num):
        return "true"
    else:
        return "false"

# Test the function
arr = [4, 6, 23, 10, 1, 3]
print(ArrayAdditionI(arr))  # Output: "true"

true

In [5]:
## List to dictionary
keys =[1 ,2 ,3,4 ]
value=['n' , 'w' , 'r' , 't' , 'y']
result=dict(zip(keys,value))
print(result)

{1: 'n', 2: 'w', 3: 'r', 4: 't'}

In [6]:
re=[i for i in enumerate(keys)]
print(dict(re))

{0: 1, 1: 2, 2: 3, 3: 4}

In [7]:
number = int(input("enter number"))
if number<0:
    print("enter valid number")
        
elif number ==0:
    print("factorial of o is 1")
else:
    factorial = 1
    for i in range(1, number + 1):
        factorial *= i
    print("Factorial of", number, "is", factorial)

enter number6
Factorial of 6 is 720

In [8]:
w= 'hare krishna hare rama hare krishna hare rama hare krishna hare rama hare krishna hare rama t , Q , H'
word="".join(i for i in w if i.isalnum())
value={}
for i in word:
    if i in value:
        value[i] +=1
    else:
        value[i] =1
        
print(value)
rt="".join(f"{value}{count}" for value , count in value.items())
print(rt)

{'h': 12, 'a': 20, 'r': 16, 'e': 8, 'k': 4, 'i': 4, 's': 4, 'n': 4, 'm': 4, 't': 1, 'Q': 1, 'H': 1}
h12a20r16e8k4i4s4n4m4t1Q1H1

In [9]:
duplicate=[]
for word ,count in value.items():
    if count> 1:
        duplicate.append(word)
print("duplicate wprd is:",duplicate)

for i in value:
    if i in duplicate:
        print(f"Word: {i}, Count: {value[i]}")

duplicate wprd is: ['h', 'a', 'r', 'e', 'k', 'i', 's', 'n', 'm']
Word: h, Count: 12
Word: a, Count: 20
Word: r, Count: 16
Word: e, Count: 8
Word: k, Count: 4
Word: i, Count: 4
Word: s, Count: 4
Word: n, Count: 4
Word: m, Count: 4

In [6]:
word = word.lower()
target = 'h'
count = 0
for i in word:
    if i ==target:
        count +=1
print(count)

12

In [26]:
string = 'mynameisnitinmy'

word = {}

for i in string:
    if i in word:
        word[i] +=1
    else:
        word[i] =1
        
max_c=max(word.values())
min_c=min(word.values())
        
print(word)
c=[]
d=[]
for value , count in word.items():
    if count ==max_c:
        c.append([value , count])
        
    elif count==min_c:
        d.append([value , count])
print(c)
print(d)

{'m': 3, 'y': 2, 'n': 3, 'a': 1, 'e': 1, 'i': 3, 's': 1, 't': 1}
[['m', 3], ['n', 3], ['i', 3]]
[['a', 1], ['e', 1], ['s', 1], ['t', 1]]

In [30]:
l =[40,46,33,60]
t=[]
for i in l:
    t.append(i)
    
print(t)

[40, 46, 33, 60]

In [18]:
t=[]
for i in word.split():   
    t.append(i[0].upper() +i[1:].lower())
p =' '.join(t)
print(p)

Rama Hare Krishna Hare Rama Hare Krishna Hare Rama Hare Krishna Hare Rama Hare Krishna Hare

In [11]:
name="nitin"
t='t'
for i in range(len(name)):
    if t in name[i]:
        print(i)

2

In [3]:
w="Hare Krishna Hare Rama Hare Krishna Hare Rama Hare Krishna Hare Rama Hare Krishna Hare Rama"
m =[]
for i in range(len(w) -1 ,-1,-1):
    m.append(w[i])
print("".join(m))

amaR eraH anhsirK eraH amaR eraH anhsirK eraH amaR eraH anhsirK eraH amaR eraH anhsirK eraH

In [5]:
lst=[2,0,5,7,0,2,6,0,5,0,5,0]
item=[item for item in lst if item != 0] + [item for item in lst if item ==0]
print(item)

[2, 5, 7, 2, 6, 5, 5, 0, 0, 0, 0, 0]

In [15]:
def find_positions(arr, target):
    start_pos = -1
    end_pos = -1
    
    for i in range(len(arr)):
        if arr[i]==target:
            if start_pos==-1:
                start_pos=i
            end_pos =i
    return start_pos ,end_pos
    
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
target = 5

start ,end=find_positions(arr , target)
print(start,end)
if start==-1:
    print("blalnlaznalnaala:")
else:
    print("Starting position:", start)
    print("Ending position:", end)

4 4
Starting position: 4
Ending position: 4

In [16]:
def find_positions(arr, target):
    start_pos = -1
    end_pos = -1
    
    for i in range(len(arr)):
        if arr[i]==target:
            if start_pos==-1:
                start_pos=i
            end_pos =i
    return start_pos ,end_pos
    
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
target = 7

start ,end=find_positions(arr , target)
print(start,end)

6 6

In [3]:
def addtwonumber(num1 , num2):
    a = [1, 2, 3, 4, 5]
    l =a[2]
    b = (1 ,2 ,3 ,4 )
    k = b[0]
    return l , k
e = addtwonumber(2 , 4)
print(e)

(3, 1)

In [24]:
def max_unique_array_length(N, arr):
    # Initialize a set to store visited indices
    visited = set()
    max_length = 0
    
    for i in range(N):
        length=0
        curr_index=i
        
        while curr_index not in visited:
            visited.add(curr_index)
            length=+1
            curr_index=arr[curr_index]

        max_length=max(max_length, length)
    return max_length

In [13]:
arr=[1,2,4,5,6]
def miss_num(arr):
    n= len(arr)
    t=n*(n+1)//2
    p=sum(arr)
    actual=p-t
    return actual

print(miss_num(arr))

3

In [14]:
def common_letter():
    string_1=input("enter first string")
    string_2 = input("enter second string")
    s1=set(string_1)
    s2=set(string_2)
    lst=s1&s1
    print(lst)
common_letter()

enter first stringnitin
enter second stringnitish
{'t', 'n', 'i'}

In [35]:
lst=[11, 2, 63, 45, 35, 60, 77, 8, 29, 110]
total_sum = (len(lst) + 1) * (len(lst) + 2) // 2
sum_1=sum(lst)
result=total_sum-sum_1
print(result)

-374

In [9]:
def find_missnuber(N , arr):
    total_sum= N*(N+1)//2
    sum_1=sum(arr)
    result=total_sum-sum_1
    return result
arr=[11, 2, 63, 45, 35, 60, 77, 8, 29, 110 , 9]
N = len(arr) + 1
print(N)
find_missnuber(N, arr)

12

-371

In [1]:
text =[1 ,2 , 0 ,0,3,4 , 0 ,  4]
list_1=[item for item in text if item !=1] + [item for item in text if item ==1]
print(list_1)

[2, 0, 0, 3, 4, 0, 4, 1]

In [5]:
def find_middle_characters(string):
    length = len(string)
    middle_index = length // 2  # Integer division to get the middle index
    
    if length % 2 == 1:  # Odd-length string
        return string[middle_index]
    else:  # Even-length string
        return string[middle_index - 1]

# Example usage:
string1 = "hello"
string2 = "python"

print("Middle character(s) of '{}':".format(string1), find_middle_characters(string1))
print("Middle character(s) of '{}':".format(string2), find_middle_characters(string2))

Middle character(s) of 'hello': l
Middle character(s) of 'python': t

In [8]:
string='my name is nitin i am trying to become a good coder'
list1=[]
duplicate=[]

for i in string:
    if i in list1:
        duplicate.append(i)
    else:
        list1.append(i)
dl = "".join(duplicate)        
print("uniqu item in list is:" , list1  , dl)
        
print("uniqu item in list is:" ,duplicate)

uniqu item in list is: ['m', 'y', ' ', 'n', 'a', 'e', 'i', 's', 't', 'r', 'g', 'o', 'b', 'c', 'd'] m  niin i am tyin t eome a goo coder
uniqu item in list is: ['m', ' ', ' ', 'n', 'i', 'i', 'n', ' ', 'i', ' ', 'a', 'm', ' ', 't', 'y', 'i', 'n', ' ', 't', ' ', 'e', 'o', 'm', 'e', ' ', 'a', ' ', 'g', 'o', 'o', ' ', 'c', 'o', 'd', 'e', 'r']

In [4]:
string='my name is nitin i am trying to become a good coder'
list1=[]
duplicate=[]

for i in string:
    if i in list1:
        duplicate.append(i)
    else:
        list1.append(i)

print(''.join(list1)
#print("duplicate string id:",duplicate)

SyntaxError: unexpected EOF while parsing (1124158539.py, line 12)

In [7]:
string='my name is nitin i am trying to become a good coder'
word=[]
for i in string.split():
    word.append(i[0].upper() + i[1:].lower())
print(word)

['My', 'Name', 'Is', 'Nitin', 'I', 'Am', 'Trying', 'To', 'Become', 'A', 'Good', 'Coder']

In [9]:
string = 'my name is nitin i am trying to become a good coder'
words = []

for i in string.split():
    words.append(i[0].upper() + i[1:].lower())
print(words[-1])  # Print the last word added to the list

# If you want to print the entire list after the loop, you can do it like this:
# print(words)

Coder

In [7]:
lst=[1 , 2, 3, 4, 5, 6, 8,7]
b=lst[:1:2]
print(b)

[1]

In [31]:
lst=[1 , 2, 3, 4, 5, 6, 8,7]
word=[]

for i in lst:
    word.append(i)
print(word)
word_2=[]
for i in word:
    word_2.append(i.pop())
    
print(word_2)

[1, 2, 3, 4, 5, 6, 8, 7]

AttributeError: 'int' object has no attribute 'pop'

In [15]:
lst= [2 , 3 ,4 ,5,66 ,7,78 ,9]
n=len(lst)
for i in range(n):
    for j in range(i+1 , n):
        if lst[i] > lst[j]:
            lst[i],lst[j]=lst[j],lst[i]
            
print(lst)

[2, 3, 4, 5, 7, 9, 66, 78]

In [21]:
def fib():
    p, q=0 ,1
    while True:
        yield p
        p, q=q , p+q
        
f=fib()
print(next(f))
print(next(f))
print(next(f))
print(next(f))

0
1
1
2

In [10]:
def fib():
    a , b=0 ,1
    while True:
        yield a
        a , b= b, a+b
f = fib()
print(next(f))
print(next(f))
print(next(f))
print(next(f))

0
1
1
2

In [10]:
string='My name is nitin my , nitin'
word = set()
def unique_string():
    word = set()
    for _ in range(1000):
        word.add(unique_string())
    return word

unique_string()

TypeError: unique_string() takes 0 positional arguments but 1 was given

In [12]:
def unique_string(string):
    word_set = set(string.split())
    return word_set

string = 'My name is nitin my , nitin'
unique_words = unique_string(string)
print(unique_words)

{'name', 'is', 'nitin', 'My', ',', 'my'}

In [10]:
string = 'My name is nitin My  nitin'
word=[]

In [11]:
for i in string.split():
    if i not in word:
        word.append(i)
        
print(word)

['My', 'name', 'is', 'nitin']

In [25]:
a = [2 , 3 ,4 ,5,66 ,7,78 ,9]
word =[]
for i in enumerate(a):
     if i%2 ==0 and  i%3==0:
            a[i]='fizbuzz'
    if i %3== 0:
        a
            
print(word)

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [31]:
def fibb():
    p, q = 0 , 1
    while True:
        yield p
        p, q=q, p+q
    
f= fibb()
print(next(f))
print(next(f))
print(next(f))
print(next(f))
print(next(f))
print(next(f))

0
1
1
2
3
5

In [40]:
def myfunc(n):
    num= 1
    for i in range(n):
        num= 1
        for j in range(i+1):
            print(num,end="")
            num = num+1
        print("\r")

n = 5
myfunc(n)

1
12
123
1234
12345

In [41]:
def myfunc(n):
    num= "A"
    for i in range(n):
        num= "A"
        for j in range(i+1):
            print(num,end="")
            num = num+1
        print("\r")

n = 5
myfunc(n)

A

TypeError: can only concatenate str (not "int") to str

In [35]:
n =5
k = n - 1
for i in range(0, n):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i+1):
        print("* ", end="")
    print("\r")

    *
   * *
  * * *
 * * * *
* * * * *

In [9]:
string = 'My name is nitin My  nitin'
character = "n"
count = 0
for letter in string:
    if letter == character:
        count += 1
print(count)

5

In [113]:
string = 'My name is nitin My  nitin'
count = 0
for letter in string:
    if letter == string:
        count += 1
print(count)

0

In [27]:
numberList = [15, 85, 35, 89, 125]

maxNum = numberList[0]
for num in numberList:
    if maxNum < num:
        maxNum = num
print(maxNum)

125

In [18]:
max_num=numberList[0]
second_num=numberList[0]
lowest_num=numberList[0]
for i in numberList:
    if i >max_num:
        second_num=max_num
        max_num=i
    elif i >second_num and i < max_num:
        second_num=i
        
    elif i < lowest_num:
        lowest_num=i
        
print(f"max number is {max_num}")
print(f"second number is {second_num}")
print(f"lowest number is {lowest_num}")

max number is 125
second number is 89
lowest number is 15

In [52]:
str1 = "python"
str2 = "yonthp"


if (sorted(str1) == sorted(str2)):
    print('is anargm')
else:
    print( 'not anagram')

is anargm

In [21]:
def nested_anagram(arr):
    anagram={}
    for i in arr:
        sorted_anagram="".join(sorted(i))
        if sorted_anagram in anagram:
            anagram[sorted_anagram].append(i)
        else:
            anagram[sorted_anagram]=[i]
    return list(anagram.values())

arr=['cat' , 'tac' , 'cat' , 'rat' , 'atr' , 'owl', 'low']
print(nested_anagram(arr))

[['cat', 'tac', 'cat'], ['rat', 'atr'], ['owl', 'low']]

In [63]:
a = "rahul"
if a==a[::-1]:
    print('pallindroe')
else:
    print("balsasn")

balsasn

In [ ]:
a = "rahul"
if a==a[::-1]:
    print('pallindroe')
else:
    ("balsasn")

In [7]:
# Node class to define the structure of each node in the linked list
class Node:
    def __init__(self, data):
        self.data = data
        self.Next = None

# Function to find the middle element of the linked list
def find_middle(head):
    # Initialize two pointers: slow and fast
    slow = head
    fast = head

    
    while fast and fast.Next:
        # Move slow pointer one step forward
        slow = slow.Next
        # Move fast pointer two steps forward
        fast = fast.Next.Next

    # At this point, the slow pointer is at the middle of the linked list
    return slow.data


head = Node(1)
head.next = Node(2)
head.next.next = Node(3)
head.next.next.next = Node(4)
head.next.next.next.next = Node(5)

middle = find_middle(head)
print("Middle element of the linked list:", middle)

Middle element of the linked list: 1

In [2]:
# Node class to define the structure of each node in the linked list
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# Function to find the middle element of the linked list
def find_middle(head):
    # Initialize two pointers: slow and fast
    slow = head
    fast = head

    # Traverse the linked list using two pointers
    while fast and fast.next:
        # Move slow pointer one step forward
        slow = slow.next
        # Move fast pointer two steps forward
        fast = fast.next.next

    # At this point, the slow pointer is at the middle of the linked list
    return slow.data

# Create a linked list
# Example: 1 -> 2 -> 3 -> 4 -> 5 -> None
head = Node(1)
head.next = Node(2)
head.next.next = Node(3)
head.next.next.next = Node(4)
head.next.next.next.next = Node(5)

# Find the middle element of the linked list
middle = find_middle(head)
print("Middle element of the linked list:", middle)

Middle element of the linked list: 3

In [14]:
def twosum(arr, target):
    left = 0
    right = len(arr)-1
    while (left<=right):
        if (arr[left]+arr[right] >target):
            right = right-1
        elif (arr[left]+arr[right] <target):
            left = left+1
            
        else:
            (arr[left]+arr[right] ==target)
            print(f'value of the {arr[left]} & {arr[right]}')
            right = right-1
            left = left+1
target = 17
arr =[5 , 7 , 4 , 3 , 9 , 8,19 , 21]
print(twosum(arr, target))

value of the 9 & 8
None

In [9]:
def twosum(arr, target):
    left = 0
    right = len(arr) - 1
    while left <= right:
        if arr[left] + arr[right] > target:
            right = right - 1
        elif arr[left] + arr[right] < target:
            left = left + 1
        else:
            print(f'Values of {arr[left]} & {arr[right]}')
            right = right - 1
            left = left + 1

target = 17
arr = [5, 7, 4, 3, 9, 8, 19, 21]
twosum(arr, target)

Values of 9 & 8

In [17]:
def tsum(arr,target):
    for i in range(0,len(arr)):
        for j in range(i+1 , len(arr)):
            if arr[i] +arr[j]==target:
                print(f'Values of {arr[i]} & {arr[j]} ={target}')
target = 17
arr = [5, 7, 4, 3, 9, 8, 19, 21]
tsum(arr, target)

Values of 9 & 8 =17

In [20]:
arr = [5, 7, 4, 3, 9, 8, 19, 21]
target = 11
for i in range(len(arr)):
    for j in range(i +1 , len(arr)):  
        
        if arr[i] + arr[j] == target:
            print(f"{arr[i]}+{arr[j]} is euqla to {target}")

7+4 is euqla to 11
3+8 is euqla to 11

In [25]:
def twosum(arr, target):
    left = 0
    right=len(arr)-1
    while left <right:
        if arr[left] + arr[right] > target:
            right = right-1
        elif arr[left] + arr[right] < target:
            left = left +1
        else:
             return (left, right)
target = 17
arr = [5, 7, 4, 3, 9, 8, 19, 21]
result = twosum(arr, target)
if result:
    print(f"Indices of elements with sum {target}: {result}")
else:
    print("No such pair found.")

Indices of elements with sum 17: (4, 5)

In [9]:
import numpy as np
import pandas as pd

In [10]:
student_name = ['nitin Chaudhary' , 'rahul Jha' , 'sumit thakur', 'harsh kumar']
marks=[5 , 6 ,88 , 2 ]

df = pd.DataFrame({'Name':student_name , 'Marks':marks})
df

              Name  Marks
0  nitin Chaudhary      5
1        rahul Jha      6
2     sumit thakur     88
3      harsh kumar      2

In [17]:
df['Last_name']=df['Name'].str.split(' ').str[-1]

In [19]:
df.drop(columns='last_name', inplace = True)

KeyError: "['last_name'] not found in axis"

In [20]:
df['First_name']=df['Name'].str.split(' ').str[0]

In [21]:
df.rename(columns ={'Name':'Full_name'}, inplace= True)

In [22]:
df

         Full_name  Marks  Last_name First_name
0  nitin Chaudhary      5  Chaudhary      nitin
1        rahul Jha      6        Jha      rahul
2     sumit thakur     88     thakur      sumit
3      harsh kumar      2      kumar      harsh

In [19]:
student_name = ['nitin#@' , 'rahul' , 'sumit', 'kumar']
marks=[5 , 6 ,88 , 2 ]

df=pd.DataFrame({'Name':student_name , 'Marks':marks})

NameError: name 'pd' is not defined

In [105]:
df

      Name  Marks
0  nitin#@      5
1    rahul      6
2    sumit     88
3    kumar      2

In [107]:
df['Name']=df['Name'].str.replace('#@','')

In [108]:
df

    Name  Marks
0  nitin      5
1  rahul      6
2  sumit     88
3  kumar      2

In [109]:
df.set_index('Name' , inplace=True)

In [83]:
df.reset_index(inplace=True)

In [90]:
df

       Marks
Name
nitin      5
rahul      6
sumit     88
kumar      2

In [92]:
df.loc['nitin']

Marks    5
Name: nitin, dtype: int64

In [95]:
df['Marks'].sum()

101

In [97]:
df.iloc[[0 , 1 ,3]]

       Marks
Name
nitin      5
rahul      6
kumar      2

In [110]:
string = "geeks quiz practice code"
t=[]
for i in string.split():
    t.append(i.pop())
    
print(type(t))

AttributeError: 'str' object has no attribute 'pop'

In [7]:
rows = int(input('enter the rows'))
for i in range(1,rows+1):
    for j in range(0,i):
        print('*',end=' ')
    print()
    
for i in range(1, rows):
    for j in range(rows-i,0  , -1):
        print('*' , end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
for i in range(rows):
    for j in range(i):
        print("*" ,end=' ')
    print()

*
* *
* * *
* * * *

In [ ]:
n=

In [23]:
# Decorator function
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()  # Call the original function
        print("Something is happening after the function is called.")
    return wrapper

# Apply the decorator using @ syntax
@my_decorator
def say_hello():
    print("Hello!")

# Call the decorated function
say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [27]:

import calendar
yy=2024
print(calendar.year(yy))

AttributeError: module 'calendar' has no attribute 'year'

In [28]:
import calendar

# Input the year for which you want to print the calendar
year = int(input("Enter the year: "))

# Print the calendar for the specified year
print(calendar.calendar(year))

Enter the year: 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [33]:
def find_pairs_with_sum(number_str, target):
    pairs = []
    seen = {}

    for i, digit in enumerate(number_str):
        digit = int(digit)
        complement = target - digit
        
        if complement in seen:
            for idx in seen[complement]:
                pairs.append((idx, i))
        
        if digit in seen:
            seen[digit].append(i)
        else:
            seen[digit] = [i]
    
    return pairs

# Example usage
number_str = "2342453256577657463535234532542"
target = 11
pairs = find_pairs_with_sum(number_str, target)
print(f"Indices of pairs with sum {target}: {pairs}")

# If you want to print the pairs of digits themselves
for idx1, idx2 in pairs:
    print(f"Digits at indices {idx1} and {idx2} sum to {target}: ({number_str[idx1]}, {number_str[idx2]})")

Indices of pairs with sum 11: [(5, 9), (8, 9), (9, 10), (2, 11), (4, 11), (2, 12), (4, 12), (5, 13), (8, 13), (10, 13), (9, 14), (13, 14), (2, 15), (4, 15), (11, 16), (12, 16), (15, 16), (5, 17), (8, 17), (10, 17), (14, 17), (9, 19), (13, 19), (17, 19), (9, 21), (13, 21), (17, 21), (11, 24), (12, 24), (15, 24), (9, 25), (13, 25), (17, 25), (9, 28), (13, 28), (17, 28), (11, 29), (12, 29), (15, 29)]
Digits at indices 5 and 9 sum to 11: (5, 6)
Digits at indices 8 and 9 sum to 11: (5, 6)
Digits at indices 9 and 10 sum to 11: (6, 5)
Digits at indices 2 and 11 sum to 11: (4, 7)
Digits at indices 4 and 11 sum to 11: (4, 7)
Digits at indices 2 and 12 sum to 11: (4, 7)
Digits at indices 4 and 12 sum to 11: (4, 7)
Digits at indices 5 and 13 sum to 11: (5, 6)
Digits at indices 8 and 13 sum to 11: (5, 6)
Digits at indices 10 and 13 sum to 11: (5, 6)
Digits at indices 9 and 14 sum to 11: (6, 5)
Digits at indices 13 and 14 sum to 11: (6, 5)
Digits at indices 2 and 15 sum to 11: (4, 7)
Digits at indices 4 and 15 sum to 11: (4, 7)
Digits at indices 11 and 16 sum to 11: (7, 4)
Digits at indices 12 and 16 sum to 11: (7, 4)
Digits at indices 15 and 16 sum to 11: (7, 4)
Digits at indices 5 and 17 sum to 11: (5, 6)
Digits at indices 8 and 17 sum to 11: (5, 6)
Digits at indices 10 and 17 sum to 11: (5, 6)
Digits at indices 14 and 17 sum to 11: (5, 6)
Digits at indices 9 and 19 sum to 11: (6, 5)
Digits at indices 13 and 19 sum to 11: (6, 5)
Digits at indices 17 and 19 sum to 11: (6, 5)
Digits at indices 9 and 21 sum to 11: (6, 5)
Digits at indices 13 and 21 sum to 11: (6, 5)
Digits at indices 17 and 21 sum to 11: (6, 5)
Digits at indices 11 and 24 sum to 11: (7, 4)
Digits at indices 12 and 24 sum to 11: (7, 4)
Digits at indices 15 and 24 sum to 11: (7, 4)
Digits at indices 9 and 25 sum to 11: (6, 5)
Digits at indices 13 and 25 sum to 11: (6, 5)
Digits at indices 17 and 25 sum to 11: (6, 5)
Digits at indices 9 and 28 sum to 11: (6, 5)
Digits at indices 13 and 28 sum to 11: (6, 5)
Digits at indices 17 and 28 sum to 11: (6, 5)
Digits at indices 11 and 29 sum to 11: (7, 4)
Digits at indices 12 and 29 sum to 11: (7, 4)
Digits at indices 15 and 29 sum to 11: (7, 4)

In [94]:
def reverse_substrings_before_numbers(s):
    # Initialize variables
    result = ""  # Final result string
    substring = ""  # Temporary variable to store substrings before numeric characters
    
    # Iterate through the string
    for char in s:
        if char.isdigit():
            # If a numeric character is encountered, reverse the substring and append it to the result
            result += substring[::-1]
            # Append the numeric character to the result
            result += char
            # Reset the substring for the next iteration
            substring = ""
        else:
            # Add non-numeric characters to the substring
            substring += char
    
    # Append any remaining substring to the result
    result += substring[::-1]
    
    return result

# Example usage
s = "fdsaf4sagtt6hrdhhj7gh9"
result = reverse_substrings_before_numbers(s)
print(result)  # Output: "asdfttgasjhhdrhhg9"

fasdf4ttgas6jhhdrh7hg9

In [98]:
def reverse_string(s):
    result = ""  
    substring = ""  
    for char in s:
        if char.isdigit():
            result += substring[::-1]
            result += char 
            substring = ""
        else: 
            substring += char
    result += substring[::-1]
    return result
s = "fdsaf4sagtt6hrdhhj7gh9"
result = reverse_string(s)
print(result)

fasdf4ttgas6jhhdrh7hg9

In [99]:
s = "fdsaf4sagtt6hrdhhj7gh9"
for i in s:
    if i.isnumeric():
        i.split()
        print(i)

4
6
7
9

In [100]:
import re

s = "fdsaf4sagtt6hrdhhj7gh9"
substrings = re.split(r'\d+', s)

print(substrings)  # Output: ['fdsaf', 'sagtt', 'hrdhhj', 'gh', '']

['fdsaf', 'sagtt', 'hrdhhj', 'gh', '']

In [103]:
substrings.reverse()
print(substrings)

AttributeError: 'NoneType' object has no attribute 'reverse'

In [106]:
def reverse_substrings_before_numbers(s):
    result = ""  # Final result string
    index = 0  # Index to traverse the string

    while index < len(s):
        # If the current character is a digit, ignore it
        if s[index].isdigit():
            index += 1
            continue

        # Start a new substring
        substring = ""

        # Add characters to the substring until a digit is encountered
        while index < len(s) and not s[index].isdigit():
            substring += s[index]
            index += 1

        # Reverse the substring and add it to the result
        result += substring[::-1]

    return result

# Example usage
s = "fdsaf4sagtt6hrdhhj7gh9"
result = reverse_substrings_before_numbers(s)
print(result)  # Output: "asdfttgasjhhdrhhg"

fasdfttgasjhhdrhhg

In [110]:
l = 'Automation'

l=l.lower()

a ={}

for i in l:
    if i not in l:
        a[i] +=1
    else:
        a[i] =1
        
print(a)

{'a': 1, 'u': 1, 't': 1, 'o': 1, 'm': 1, 'i': 1, 'n': 1}

In [120]:
l = 'Automation'

seen = set()
unique = set()

for i in l:
    if i in seen:
        if i in unique:
            unique.remove(i)
    else:
        seen.add(i)
        unique.add(i)

##unique_characters = ''.join(sorted(unique))
print(f"Unique characters: {unique_characters}")

Unique characters: Aaimnu

In [1]:
l = 'Automation'
seen = set()
unique= set()

for i in l:
    if i in seen:
        if i in unique:
            unique.remove(i)
    else:
        seen.add(i)
        unique.add(i)
unique_characters= ''.join(sorted(unique))
print(unique)

{'n', 'i', 'u', 'A', 'a', 'm'}

In [21]:
number=int(input("enter number"))


for i in range(1 , 10):
    print(number, '*' ,i, '=' ,number *i)

enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
number=int(input("enter number"))
i = 0

for i in range(1 , 10):
    print(number, '*' ,i, '=' ,number *i)

In [19]:
lower = int(input("enter lower number"))
upper = int(input("enter upper number"))

for i in range(lower , upper+1):
    for j in range(2 , i+1):
        if i % 2==0:
            print(i)
            break

enter lower number4
enter upper number9
4
6
8

In [30]:
n ='nitin'
char={}
for i in n:
    if i in char:
        char[i]+=1
    else:
        char[i]=1
        
print(char)

for ch in n:
    if char[ch]==1:
        print(f"The first non-repeating character is: {ch}")
        break
else:
    print("No non-repeating character found.")

{'n': 2, 'i': 2, 't': 1}
The first non-repeating character is: t